<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Nowy artykul</title>

    <link th:rel="stylesheet" th:href="@{/assets/summernote/summernote-bs4.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<!-- Navigation -->
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="row">
        <div class="col-md-8 mt-5">
            <form th:action="@{/articleEditor}" method="post" enctype="multipart/form-data" th:object="${artykul}">

                <input type="hidden" th:field="*{id}" />

                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" id="title" placeholder="title" autocomplete="off" class="form-control"
                           th:field="*{nazwa}"/>
                </div>

                <div class="form-group">
                    <label for="content">Content:</label>
                    <textarea type="text" rows="4" id="content" placeholder="Content" class="form-control"
                              th:field="*{content}" autocomplete="off"></textarea>
                </div>

                <label class="col-sm-3 form-check-label" for="state">Published</label>
                <div class="col-sm-9">
                    <input type='hidden' th:field="*{state}" value='0' name='state' id='state'>
                    <input type="checkbox" name='state_checkbox' value='1' id='state_checkbox'/>
                </div>

                <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/summernote/summernote-bs4.js}"></script>

<script>
$(document).ready(function () {
      $("#state_checkbox").on("click", function (e) {
        var checkbox = document.getElementById("state_checkbox");
        var s = document.getElementById("state");
        if (checkbox){
            s.value = 1;
        }
        else{
            s.value = 0;
        }
      });
    });


$('#content').summernote({
    height: 200
});
</script>

</body>
</html>