<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>User list</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">Users</h2>

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div th:if="${users.size() > 0}">
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td>[[${user.nazwa}]]</td>
                <th:block th:switch="${user.rola}">
                    <td th:case="0">
                        admin
                    </td>
                    <td th:case="1">
                        redactor
                    </td>
                    <td th:case="2">
                        user
                    </td>
                </th:block>
                <td>
<!--                    if subscribed -> unsubscribe-->
                    <th:block th:switch="${session.username}">
                        <th:block th:case="null"></th:block>
                        <th:block th:case="${user.nazwa}"></th:block>
                        <th:block th:case="*">
                            <a th:href="@{'/add_subscription/' + ${user.nazwa}}">Subscribe</a>
                        </th:block>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="" th:unless="${users.size() > 0}">
        <span>No users found!</span>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>



</body>

</html>