<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Serwis muzyczny</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<h2 class="text-center">User page</h2>
<img src="../static/images/blank-profile-picture.jpg" hight="200" width="200" th:src="@{images/blank-profile-picture.jpg}"/>
<p>
    Name:
    <th:block th:text="${session.username}">username</th:block>
</p>
<p>
    Priviliges:
    <th:block th:if="${session.role} eq '2'">user</th:block>
    <th:block th:if="${session.role} eq '1'">redactor</th:block>
    <th:block th:if="${session.role} eq '0'">admin</th:block>
</p>

</body>
</html>
